.caixa {
    background-color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 5px;
    padding: 10;
    color: rgb(210, 54, 54);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    height: 440px;
    width: 400px;
    
}

.caixa > img {
    width: 310px;
    height: 290px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 17px;
}

button {
    color: black;
    background-color: rgb(255, 83, 83);
    border-radius: 15px;
    padding: 10px;
    width: 150px;
}